<li class='link'>
	<div class='star hollow'>&#9734;</div>
	<div class='star solid'>&#9733;</div>
	<a class ='title' href="<%= link.url %>"><%= link.title %></a>
	<div class='description'>
		Hi there.
	</div>
	<% link.tags.map do |tag| %>
		<div class = "tags">
			<%= tag.text %>
		</div>
	<% end %>
	<span class='source'>
		added yesterday by
		<a href='#'>michael.sidon@gmail.com</a>
	</span>
</li>

