<li class='link'>
	<a class ='title' href="<%= link.url %>"><%= link.title %></a>
	<div class='description'>
		Hi there.
	</div>
	<span class='source'>
		added yesterday by
		<a href='#'>michael.sidon@gmail.com</a>
	</span>
</li>

